body,canvas {margin:0;padding:0;overflow:hidden}
body {display:inline;text-align:center;}
#canvas-id {border:1px solid #e4e8f0;box-shadow:0 .5rem 1rem rgba(0,0,0,.15); margin:1rem}
.code-button {text-transform:uppercase;margin-top:4px;min-width: 200px;}